@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* CSS RESET */  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Space Grotesk', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
ol, ul {
    list-style: none;
}


img {
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body{
    background-color: #c6c3b6;
}
.invisible{
    display: none !important;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    
    background-color: #212121;
    width: 100vw;
    padding: 16px 32px;
    text-align: center;
}
.logo > a{
    font-family:'Space Grotesk', sans-serif ;
    font-size: 32px;
    color: #f2f3f4;
}
.navbar{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #00447c;
    padding: 8px 16px;
    box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.523);
}
.navbar > a{
    color: #f2f3f4;;
}
.navbar> .active{
    border-bottom: 2px solid #f2f3f4;;
}
.hero{
    background: url("../assets/hero-bg.jpg") #0b7b9e center no-repeat;
    background-size: cover;
    padding: 32px;
    color: #f2f3f4;
    font-family: 'Space Grotesk', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 4px #212121;
    cursor: pointer;
}
.hero > p{
    color: #b7b7b7;
    font-family: 'Space Grotesk', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    text-shadow: 2px 2px 4px #212121;
    cursor: pointer;
    margin-top: 32px;
}
#loginregisterbutton{
    background-color: rgba(128, 128, 128, 0.67); 
    padding: 4px; 
    text-align: center; 
    border-radius: 5px;
}



/* card css */
.card {
    background: #eaeaea;
    border-radius: 10px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 290px;
    overflow: hidden;
  }
  
  .card .top {
    display: inline-flex;
    width: 100%;
    height: 220px;
    overflow: hidden;
    justify-content: center;
  }
  
  .card .top img {
    height: 220px;
  }
  
  .card .bottom {
    height: 80px;
    width: 100%;
  }
  
  .card .bottom p {
    text-align: left;
    /* height: 32px; */
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #444;
    font-size: 18px;
    font-family: Roboto, sans-serif;
  }
  
  .card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
  .card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;
  }
  /* card css */
  .footer{
    margin-top: 32px;
    width: 50vw;
    text-align: center;
    color: grey;
    font-size: 10px;
    margin-left: 50%;
    transform: translate(-50%, -50%);

  }
#view-acc-button{
    background-color: rgba(128, 128, 128, 0.477);
    padding: 4px 8px;
    border-radius: 5px;
}
.acc-info-container{
    display: flex;
    flex-direction: column;
    padding: 32px;
    align-items: center;
    gap: 16px;
}
.logoutButton{
    margin: auto;
    padding: 8px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(168, 72, 72);
    color: white;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.logoutButton:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

  .quiz-game{
    
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  [id=container] {
    width: 70vw;
    background: white;
    color: #000;
    margin: 20px auto;
    overflow: auto;
    padding: 1.6rem;
    border: 2px solid #B2967D;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  [id=container]  h1{
    font-size: 24px !important;
  }
  [id=container]  p{
    color: grey;
    font-size: 14px;
  }
  [id=container]  h3{
    font-size: 14px !important;
    margin-top: 12px;
  }
  header {
    text-align: center;
    border-bottom: #E7D8C9 dashed 1px;
  }
  
  header h1 {
    margin: 0;
    padding: 0;
  }
  
  header p {
    padding: 0;
    margin-top: 5px;
    color: #000;
  }
  
  input[type="submit"] {
    background: #B2967D;
    border: 0;
    color: #fff;
    padding: 10px 12px;
    cursor: pointer;
  }
  #questions{
    font-size: 14px;
  }
  
  [id=results] {
    margin-top: 1rem;
  }
  
  [id=results] h3 {
    background: #EEE4E1;
    padding: 10px;
    margin: 10px 0;
    color: #000;
  }
  .backToGamesPage{
    background-color: palevioletred;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    transition: transform 0.1s ease-in-out;
  }
  .backToGamesPage:active{
    transform: scale(0.96);
  }
  .homepageCard{
    background: rgba(255, 255, 255, 0.175);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    margin-left: 0;
    margin-right: 0;
    width: 100vw;
    /* transform: translateX(-32px); */
    margin-left: -32px;
    /* paddingp-right: 16px; */
    padding-top: 16px;
    padding-bottom: 16px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: white;
    font-family: 'Space Grotesk', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    text-shadow: 2px 2px 4px #212121;
    cursor: pointer;
    margin-top: 32px;
  }
  .getStartedNow{
    margin-top: 32px; 
    background-color: #0b7b9e; 
    width: fit-content; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 8px 16px; 
    color: #eaeaea;
    -webkit-animation: glowing 1000ms infinite;
    -moz-animation: glowing 1000ms infinite;
    -o-animation: glowing 1000ms infinite;
    animation: glowing 1000ms infinite;
  }
  @-webkit-keyframes glowing {
    0% {
      background-color: #0091b2;
      -webkit-box-shadow: 0 0 3px #0091b2;
    }
    50% {
      background-color: #21c7ed;
      -webkit-box-shadow: 0 0 15px #21c7ed;
    }
    100% {
      background-color: #0091b2;
      -webkit-box-shadow: 0 0 3px #0091b2;
    }
  }
  @keyframes glowing {
    0% {
      background-color: #0091b2;
      box-shadow: 0 0 3px #0091b2;
    }
    50% {
      background-color: #21c7ed;
      box-shadow: 0 0 15px #21c7ed;
    }
    100% {
      background-color: #0091b2;
      box-shadow: 0 0 3px #0091b2;
    }
  }